svg#preview {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	width: 60%;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.inputs {
	display: flex;
	flex-direction: column;
	gap: 5px;

	width: 60%;
}

.inputs input {
	padding: 5px;
	flex-grow: 1;
	box-shadow: none;
	outline: none;
}

.inputs label {
	margin-right: 5px;
}

.inputs .row {
	display: flex;
	gap: 10px;
}

.inputs .col {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.inputs input[type="checkbox"] {
	width: fit-content;
	flex-grow: 0;
}

.inputs .btn {
	padding: 0.2rem 0.5rem;
}

.inputs .theme-select-btn {
	border: none;
	border-radius: 5px;
	padding: 5px 10px;

	font-family: 'Wood Block CG Regular';
	font-size: 1.5rem;
}

.inputs .theme-select-btn:hover, .inputs .theme-select-btn.selected {
	outline: 2px solid black;
}

.inputs .theme-btn-grid {
	display: grid;
	gap: 5px;
	grid-template-columns: auto auto auto;
}

@media only screen and (max-width: 850px) {
	.inputs {
		display: flex;
		flex-direction: column;
		gap: 5px;

		width: 90%;
	}

	.inputs .col {
		width: 100% !important;
	}

	.inputs .row {
		flex-wrap: wrap;
	}

	svg#preview {
		width: 90%;
	}
}