.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.inputs {
	display: flex;
	flex-direction: column;
		gap: 5px;

	width: 60%;
}

.inputs input {
	padding: 5px;
	width: 100%;
	box-shadow: none;
	outline: none;

}
.inputs .row {
	display: flex;
	align-items: center;
	gap: 5px;
}
.inputs .col {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.inputs input[type="checkbox"] {
	width: fit-content;
}

.inputs #dl-btn {
	width: 5rem;
	height: 2rem;
}