.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.inputs {
	display: flex;
	flex-direction: column;
	gap: 5px;

	width: 60%;
}

.inputs input {
	padding: 5px;
	width: 100%;
	box-shadow: none;
	outline: none;

}

.inputs .row {
	display: flex;
	gap: 1rem;
}

.inputs .col {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.inputs input[type="checkbox"] {
	width: fit-content;
}

.inputs .btn {
	padding: 0.2rem 0.5rem;
}

.inputs .theme-select-btn {
	border: none;
	border-radius: 5px;
	padding: 5px 10px;

	font-family: 'Wood Block CG Regular';
	font-size: 1.5rem;
}

.inputs .theme-select-btn:hover, .inputs .theme-select-btn.selected {
	outline: 2px solid black;
}

.inputs .theme-btn-grid {
	display: grid;
	gap: 5px;
	grid-template-columns: auto auto auto;
}